
@import 'vars';

html {
    font-size: 15px;
}

body {
    margin: 0;

    background-color: $gray;

    font-family: 'Montserrat', sans-serif;
    color: $black;
    font-size: 1rem;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Bootstrap */

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/modal";


/* Blocks */

@import 'blocks/_page';
@import 'blocks/_content';
@import 'blocks/_header';
@import 'blocks/_btn';
@import 'blocks/_logo';
@import 'blocks/_nav';
@import 'blocks/_lang';
@import 'blocks/_footer';
@import 'blocks/_intro';
@import 'blocks/_contacts';
@import 'blocks/_author';
@import 'blocks/_circle';
@import 'blocks/_social';


/* Vendor */

@import 'vendor/slick';
